WIREGUARD_IMAGE=lscr.io/linuxserver/wireguard:latest
CONTAINER_NAME=wireguard
PUID=1000
PGID=1000
TZ=Etc/UTC

SERVERURL=auto
SERVERPORT=7890
PEERS=localtest
PEERDNS=auto
INTERNAL_SUBNET=10.168.9.0
ALLOWEDIPS=10.168.9.0/24
PERSISTENTKEEPALIVE_PEERS=all
LOG_CONFS=false
